article {
    border-top: 1mm solid red;
    border-bottom: 1mm solid red;

    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0) 20% rgba(0,0,0,0),) , 
    url(top-image.png) no-repeat left top,
    url(bottom-image.png) no-repeat left bottom;
    background-color: white;
  }

  h1 {
    background-image: url(logo.png);
    border-radius: 64px;
    box-shadow: 3px 3px 3px black;
  }